
/* COLOR GROUPINGS */

.primary {
    background-color: #8d6e63;
    color: black;
}

.primary__light {
    background-color: #be9c91;
    color: black;
}

.primary__dark {
    background-color: #5f4339;
    color: white;
}

.secondary {
    background-color: #00c652;
    color: black;
}

.secondary__light {
    background-color: #5efa81;
    color: black;
}

.secondary__dark {
    background-color: #009423;
    color: black;
}

/* NAVBAR GROUPINGS */

.hidden-nav {
    margin: 6px;
    overflow: auto;
    position: fixed;
    z-index: auto;
}

.hidden-nav:hover {
    cursor: pointer;
}

.hidden-nav-icon {
    margin: 6px;
}

.navbar-icon {
    margin: 12px;
}

.navbar-icon:hover {
    cursor: pointer;
}


.navbar-icon-pull-right {
    float: right;
    margin-left: auto;
}

.navbar-flex-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    z-index: 1;
}

.navbar-link-list {
    margin: 15px;
    text-align: center;
    font: 1.5em 'Tajawal', sans-serif;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
}

.navbar-link-item {
    color: black;
    text-decoration: none;
}

.navbar-enter {
    transform: translateX(-200px);
}

.navbar-enter.navbar-enter-active {
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
    transition-delay: 50ms;
}

.navbar-leave {
    transform: translateX(0);
}

.navbar-leave.navbar-leave-active {
    transform: translateX(-200px);
    transition: transform 200ms cubic-bezier(0.4, 0.0, 1, 1);
}

.coffee-flexbox-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.page-body {
    display: flex;
    position: relative;
    float: left;
    margin: auto;
}